.DS_Store
ios/
PAgent.pdf
backend/.env
backend/token.json
backend/pagentServiceAccountKey.json
backend/__pycache__/
backend/client_secret_*.json
backend/backend-todo.md
backend/temp_cache/
backend/pagent_vector_db/
backend/storage/
backend/gemini_tools_lib/__pycache__/
backend/gemini_tools_lib/gemini_tools_requirements.md
backend/testing/test_calendar_tools.py
backend/testing/test_gemini_tools.py
backend/testing/test_new_tools.py
backend/testing/**
.env
.secrets.env
*.pem
key.json
backend/temp_storage/
backend/.pytest_cache/
backend/.coverage
backend/secrets/
backend/temp*
