.DS_Store
ios/
PAgent.pdf
PAgent-todo.md

# Backend
backend/.env
backend/.idea/
backend/token.json
backend/pagentServiceAccountKey.json
backend/__pycache__/
backend/client_secret_*.json
backend/backend-todo.md
backend/temp_cache/
backend/pagent_vector_db/
backend/storage/
backend/gemini_tools_lib/__pycache__/
backend/gemini_tools_lib/gemini_tools_requirements.md
backend/testing/test_calendar_tools.py
backend/testing/test_gemini_tools.py
backend/testing/test_new_tools.py
backend/testing/**
backend/temp_storage/
backend/.pytest_cache/
backend/.coverage
backend/secrets/
backend/temp*
backend/get_token.py
backend/prod/

# Secrets
.env
.secrets.env
*.pem
key.json

# Frontend
frontend/node_modules/
frontend/.expo/
frontend/dist/
frontend/web-build/
frontend/ios/
frontend/android/
frontend/GoogleService-Info.plist
frontend/src/services/api/config.ts
frontend/config.ts

# README drafts
readme_drafts/
