version: '3.8'
services:
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    networks:
      - dev-network

  mongo:
    image: mongo:4.4.18
    ports:
      - "27017:27017"
    networks:
      - dev-network
  
  backend:
    build: ./backend
    container_name: pagent-backend
    volumes:
      - ./backend:/app
      - ./backend/storage:/app/storage
      - ./backend/secrets/pagentServiceAccountKey.json:/app/secrets/pagentServiceAccountKey.json:ro
    ports:
      - "8000:8000"
    
    # Load environment variables
    env_file:
      - backend/.env

    depends_on:
      - redis
      - mongo
    networks:
      - dev-network

    # Uvicorn && reload flag for hot reloading during development
    command: uvicorn server:combined --host 0.0.0.0 --port 8000 --reload

    environment:
      - FCM_SECRETS_DIR=/app/secrets/

networks:
  dev-network:
    driver: bridge
