version: '3.8'
services:
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    networks:
      - dev-network
  
  backend:
    build: ./backend
    container_name: pagent-backend
    volumes:
      - ./backend:/app
      - ./backend/storage:/app/storage
    ports:
      - "8000:8000"
    
    # Load environment variables
    env_file:
      - backend/.env

    depends_on:
      - redis
    networks:
      - dev-network

    # Uvicorn && reload flag for hot reloading during development
    command: uvicorn server:combined --host 0.0.0.0 --port 8000 --reload

networks:
  dev-network:
    driver: bridge
