LLM_MODEL=gemini-2.5-flash
CHAT_SIZE_LIMIT=300

GEMINI_API_KEY=
TODOIST_API_KEY=

DATABASE_URL=mongodb://mongo:27017
REDIS_URL=redis://redis:6379
PAGENT_DB_NAME=pagent-database

DESKTOP_FCM_TOKEN=
IPHONE_FCM_TOKEN=
FCM_SECRETS_DIR=/app/secrets

APP_IDENTIFIER=
STORAGE_PATH=/app/storage
VDB_DEST=./pagent_vector_db
UPLOAD_DIR=/app/storage/temp_storage

GCAL_SECRETS_FILENAME=
GCAL_TOKEN_FILEPATH=

BETTER_STACK_TOKEN=
BETTER_STACK_HOST=

SECRETS_DIR=
SERVICE_ACCOUNT_KEY=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

JWT_SECRET_KEY=
JWT_ALGORITHM=HS256

ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=14

RUST_BACKTRACE=1