todoist-api-python
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
google-genai
lancedb
pymongo
motor
python-dotenv
fastapi
uvicorn[standard]
gunicorn
python-socketio
redis
pypdf
pypdf2
firebase-admin
bcrypt