apiVersion: apps/v1
kind: Deployment
metadata:
  name: pagent-mongo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pagent-mongo
  template:
    metadata:
      labels:
        app: pagent-mongo
    spec:
      containers:
      - name: mongo
        image: mongo:4.4.18 # Official, stable image
        ports:
        - containerPort: 27017
        volumeMounts:
        - name: mongo-storage
          mountPath: /data/db
      volumes:
      - name: mongo-storage
        persistentVolumeClaim:
          claimName: mongo-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: pagent-mongo
spec:
  ports:
  - port: 27017
    targetPort: 27017
  selector:
    app: pagent-mongo
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mongo-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi