name: Deploy to Server

on:
  push:
    branches: [ "master" ]
    paths-ignore:
      - 'README.md'
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ezragubbay/pagent-backend

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      
      - name: Log in to the Container Registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
        
      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: ./backend
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
          platforms: linux/arm64

  deploy:
    needs: build-and-push
    runs-on: self-hosted
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        # Checkout code to get k8s files

      - name: Apply Kubernetes Manifests
        run: |
          kubectl apply -f k8s/mongo.yaml
          kubectl apply -f k8s/infrastructure.yaml
          kubectl apply -f k8s/backend.yaml

          kubectl rollout restart deployment/pagent-backend
    